<div class="container">
  <h1>New Note</h1>

  <form action="/notes/new" method="post">
    <input type="text" name="title" value="Title"><br>
    <textarea rows="4" cols="50" name="content">Input text here</textarea><br>
    <input type="submit" value="Add">
  </form>

</div>
