<h2>New Game</h2>

<form action="/" method="post">
    <input type="text" name="player1" placeholder="Player 1 Name">
    <input type="text" name="player2" placeholder="Player 2 Name">
    <input type="submit" value="Play!">
</form>

