<script src="/js/grab_tweets.js"></script>

<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
  <div id="tweet_content">
    <img src="/images/loader.gif">
  </div>
</div>
