<div class="container">
  <h1>create a post</h1>


  <form action="/posts" method="post">
    Title:<input type="text" name="post[title]"><br>
    Tags:<input type="text" name="tags"><br>
    <textarea rows="4" cols="50" name="post[message]">Write your message here.</textarea><br>
    <input type="submit" value="Post">
  </form>



</div>

