<form method="post" action="/posts/new">
  <input type="text" placeholder="title" name="post[title]">
  <input type="text" placeholder="http://" name="post[url]">
  <input type="submit" value="Post">
</form>
