<h1><%= @user.name %>'s Comments</h1>

<% @user.comments.each do |comment| %>
  <h3><a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a></h3>
  <p><%= comment.content %></p>
<% end %>
